/* Written by Gurtej Singh */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --primary: #6735b2;
    --secondary: #80b235;
    --light: #fafafa;
    --dark: #202020;

    --fg: var(--dark);
    --bg: var(--light);
    --link-fg: var(--primary);
    --link-hover-fg: var(--light);
    --link-hover-bg: var(--primary);
    --current-fg: var(--light);
    --current-bg: var(--secondary);
}

body {
    color: var(--fg);
    background-color: var(--bg);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

:is(header, footer) {
    display: flex;
    justify-content: space-between;
    padding: 0 1em;
}

header {
    border-bottom: 2px solid;
}

footer {
    border-top: 2px solid;
}

:is(header, footer) ul {
    padding-left: 0;
    list-style-type: none;
    display: flex;
    gap: 1em;
}

:is(header, footer) a {
    color: var(--link-fg);
    text-decoration: none;
    transition: all .2s;
    padding: .5em;
}

:is(header, footer) a:hover {
    color: var(--link-hover-fg);
    background-color: var(--link-hover-bg);
}

#current {
    color: var(--current-fg);
    background-color: var(--current-bg);
    font-weight: bold;
}

main {
    padding: 1em;
}

img {
    border: 1px solid;
}

figure {
    margin: 0;
}

figcaption {
    font: italic smaller serif;
}
