{% extends 'app/base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}


<main class="container py-3">
    <div class="container text-center">
        <h1>🧭 Career Navigator</h1>
        <p class="lead">Find your next career move or discover relevant courses. Enter keywords below to begin.</p>
    </div>
    <div class="container px-5 py-2">
        <form>
            <div class="input-group input-group-lg">
                <span class="input-group-text"><i class="bi bi-briefcase"></i></span>
                <input name="position" type="search" class="form-control" placeholder="Job Title"
                    value="{{ query.position }}">
                <span class="input-group-text"><i class="bi bi-geo-alt"></i></span>
                <input name="location" type="search" class="form-control" placeholder="Location"
                    value="{{ query.location }}">
                <button class="btn btn-primary" type="submit"><i class="bi bi-search"></i></button>
            </div>
        </form>
    </div>
    <div class="container p-5">
        <table class="table table-striped">
            <thead>
                <tr>
                    {% if user.is_authenticated %}
                    <th scope="col" style="width:2%"></th>
                    {% endif %}
                    <th scope="col" style="width:20%"><i class="bi bi-briefcase"></i> Position</th>
                    <th scope="col" style="width:15%"><i class="bi bi-buildings"></i> Company</th>
                    <th scope="col" style="width:15%"><i class="bi bi-geo-alt"></i> Location</th>
                    <th scope="col" style="width:28%"><i class="bi bi-file-text"></i> Description</th>
                    <th scope="col" style="width:20%"><i class="bi bi-lightning-charge"></i> Skills</th>
                </tr>
            </thead>
            <tbody>
                {% for job, skills in jobs_with_skills.items %}
                <tr>
                    {% if user.is_authenticated %}
                    <td>
                        {% if job in bookmarks %}
                            <a class="link-danger" href="{% url 'delete-bookmark' job.id %}"><i class="bi bi-bookmark-dash"></i></a>
                        {% else %}
                            <a class="link-primary" href="{% url 'add-bookmark' job.id %}"><i class="bi bi-bookmark-plus"></i></a>
                        {% endif %}
                    </td>
                    {% endif %}
                    <td><a href="{{ job.link }}" target="_blank">{{ job.position }}</a></td>
                    <td>{{ job.company }}</td>
                    <td>
                        {{ job.city }}, {{ job.state }}
                        {% if job.is_remote %}
                        <span class="badge text-bg-success">Remote</span>
                        {% endif %}
                    </td>
                    <td>{{ job.description|truncatewords:50 }}</td>
                    <td>
                        {% for skill in skills %}
                        <span class="badge text-bg-primary" data-bs-toggle="modal"
                            data-bs-target="#skill-{{ skill.id }}">
                            {{ skill.name }}
                        </span>
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="container text-center fs-2">
            <i class="bi bi-three-dots"></i>
        </div>
    </div>
</main>

{% for skill, courses in skills_with_courses.items %}
<div class="modal fade" tabindex="-1" id="skill-{{ skill.id }}">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">{{ skill.name }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>{{ skill.description }}</p>
                <ul>
                    {% for course in courses %}
                        <li><a href="{{ course.link }}">{{ course.link|truncatechars:50 }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary"><i class="bi bi-lightning-charge-fill"></i>
                    Learn!</button> -->
            </div>
        </div>
    </div>
</div>
{% endfor %}


{% endblock content %}
