<!-- Image 1 Modal -->
<div class="modal fade" tabindex="-1" id="image-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Photo</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="https://source.unsplash.com/QL0H064Ns38" class="img-fluid">
            </div>
        </div>
    </div>
</div>
<!-- Image 2 Modal -->
<div class="modal fade" tabindex="-1" id="image-2">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Photo</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="https://source.unsplash.com/ZWeCTXJ1VO4" class="img-fluid">
            </div>
        </div>
    </div>
</div>
<!-- Image 3 Modal -->
<div class="modal fade" tabindex="-1" id="image-3">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Photo</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="https://source.unsplash.com/an1zPDoU4ZE" class="img-fluid">
            </div>
        </div>
    </div>
</div>
<!-- Image 4 Modal -->
<div class="modal fade" tabindex="-1" id="image-4">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Photo</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="https://source.unsplash.com/sakT6t5CVPs" class="img-fluid">
            </div>
        </div>
    </div>
</div>
<!-- Image 5 Modal -->
<div class="modal fade" tabindex="-1" id="image-5">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Photo</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="https://source.unsplash.com/MsyPQIERfp4" class="img-fluid">
            </div>
        </div>
    </div>
</div>
<!-- Image 6 Modal -->
<div class="modal fade" tabindex="-1" id="image-6">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Photo</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="https://source.unsplash.com/YPNBZZ-FovI" class="img-fluid">
            </div>
        </div>
    </div>
</div>
