{% extends "navigator/base.html" %}
{% block content %}

<!-- Main -->
<main class="container py-3">
    <div class="container">
        <h1>How To Use the Career Navigator</h1>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, recusandae.</p>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim repudiandae rerum corporis eos expedita
        voluptatum nihil unde blanditiis, numquam incidunt obcaecati reprehenderit, itaque porro mollitia delectus.
        Fugit sequi nisi soluta veniam possimus? Doloremque sed, hic numquam delectus quaerat porro nisi quo cum est
        perspiciatis a illo quasi dolores in atque beatae iure! Consequatur porro, itaque doloribus quae, quam
        voluptatum minima praesentium quos dolores mollitia harum fuga repudiandae voluptate laudantium velit
        aliquid. Inventore modi, harum suscipit non corrupti unde. Optio, nisi. Iusto ducimus eveniet repellat
        corrupti assumenda enim harum deleniti ipsum quos. Repudiandae consectetur reiciendis voluptatibus. Esse
        reiciendis magnam vero blanditiis!</p>
    <p>Reprehenderit ipsa iusto culpa perferendis error quibusdam! Nam temporibus placeat aperiam eum mollitia
        tempore similique consequuntur praesentium vitae tenetur, totam, eligendi suscipit eos dolore cumque odit
        ipsam atque dignissimos saepe ab sequi magnam iure quae quisquam! Excepturi, debitis pariatur. Omnis
        repudiandae quam atque nobis voluptatum modi aspernatur maxime. Error numquam delectus esse? Tempora laborum
        cupiditate minima rerum. Id inventore vero dolore voluptas sapiente? Pariatur ut, repellat quas ipsa nisi,
        asperiores necessitatibus corporis minus deserunt, nam cumque quia vero magni ad! Repellat expedita
        architecto repellendus distinctio, inventore ipsum libero! Architecto fuga debitis minus voluptates sapiente
        dicta nemo earum cum nam cumque.</p>
    <!-- Gallery -->
    {% include "navigator/gallery.html" %}
</main>

{% endblock content %}
